/* VARIABLES */

:root {
    --body: hsl(222, 26%, 31%);
    --equals: hsl(6, 63%, 50%);
    --lightO: hsl(221, 14%, 31%);
    --reset: hsl(225, 21%, 49%);
    --screen: hsl(224, 36%, 15%);
    --toggle: hsl(223, 31%, 20%);
    --togglebtn: hsl(6, 70%, 50%);
    --White: hsl(30, 25%, 85%);
}


/* BASE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* BODY */

body {
    align-items: center;
    background-color: var(--body);
    display: flex;
    font-family: 'League Spartan', sans-serif;
    height: 100%;
    justify-content: center;
    width: 100%;
}


/* STYLES FOR APP CONTAINER */

.container {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    height: 50rem;
    justify-content: center;
    margin: 2rem;
    max-height: 100rem;
    max-width: 100%;
    padding: 20px;
    width: 40rem;
}


/* STYLES FOR TOP SECTION */

.top {
    align-items: center;
    border-radius: 5px;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    max-height: 15rem;
    padding: 10px;
    width: 100%;
}

.top h2 {
    color: var(--White);
    padding: 10px;
    width: 30%;
}

.right {
    align-items: center;
    display: flex;
    height: 7rem;
    justify-content: space-around;
    width: 50%;
}

.right p {
    color: var(--White);
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
    text-transform: uppercase;
}

.toggler {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: center;
    padding: 10px;
    width: 40%;
}

.numbers {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 90%;
}

.numbers p {
    font-size: 12px;
    margin: 5px;
    width: 25%;
}

.toggle {
    align-items: center;
    background-color: var(--toggle);
    border-radius: 10em;
    cursor: pointer;
    display: flex;
    height: 6rem;
    justify-content: center;
    margin: 0.6em 0.6em 0em 0.6em;
    max-width: 9rem;
    padding: 0 0.5em;
    position: relative;
    width: 6.8em;
}

.first,
.second,
.third,
.c {
    align-items: center;
    background-color: var(--togglebtn);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 1.3em;
    justify-content: center;
    margin-right: 5px;
    position: absolute;
    transition: transform 0.3s ease;
    width: 1.3em;
}

.first {
    left: 10px;
}

.second {
    left: 43px;
}

.third {
    left: 70px;
}

.second,
.third {
    background-color: transparent;
}

.c {
    background-color: transparent;
    left: 10px;
}


/* STYLES FOR DISPLAY SECTION */

.display {
    align-items: center;
    background-color: var(--screen);
    border-radius: 13px;
    display: flex;
    height: 8rem;
    justify-content: center;
    margin-top: 20px;
    max-width: 100%;
    padding: 10px;
    width: 100%;
}

.number {
    align-items: center;
    border-radius: 13px;
    display: flex;
    height: 7rem;
    justify-content: center;
    max-height: 10rem;
    width: 100%;
}

.number input {
    align-items: flex-end;
    background-color: transparent;
    border: none;
    color: var(--White);
    font-size: 45px;
    font-weight: 600;
    outline: none;
    padding: 10px;
    text-align: right;
    width: 97%;
}

.number input::placeholder {
    color: transparent;
}


/* display section ends */


/* btns section starts */

.btn_container {
    align-items: center;
    background-color: var(--toggle);
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    height: 60rem;
    justify-content: center;
    margin-top: 15px;
    max-height: 80rem;
    max-width: 100%;
    padding: 10px;
    width: 100%;
}

.btn {
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px hsl(28, 16%, 65%);
    color: var(--lightO);
    cursor: pointer;
    font-family: inherit;
    font-size: 30px;
    font-weight: 700;
    height: 60px;
    justify-self: center;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    width: 7rem;
    z-index: 100;
}

.equals {
    background-color: var(--equals);
    box-shadow: 0px 5px hsl(6, 70%, 34%);
    grid-column: span 2;
}

.reset {
    background-color: var(--reset);
    box-shadow: 0px 5px hsl(224, 28%, 35%);
    grid-column: span 2;
}

.del {
    background-color: var(--reset);
    box-shadow: 0px 5px hsl(224, 28%, 35%);
    color: var(--White);
    font-size: 20px;
}

.reset,
.equals {
    color: var(--White);
    font-size: 23px;
    width: 17rem;
}

.operator {
    font-size: 22px;
}