/* SECOND THEME */

:root {
    --body3: hsl(268, 75%, 9%);
    --white: hsl(0, 0%, 100%);
    --reset3: hsl(281, 89%, 26%);
    --toggle3: hsl(268, 71%, 12%);
    --togglebtn3: hsl(176, 100%, 44%);
    --text: hsl(52, 100%, 62%);
    --btn: hsl(268, 47%, 21%);
    --equalstext: hsl(198, 20%, 13%);
}

.third-theme {
    background-color: var(--body3);
}

.third-theme p,
.third-theme h2,
.third-theme button {
    color: var(--text);
}

.third-theme .first {
    background-color: var(--togglebtn3);
    transform: translateX(3.75em);
}

.third-theme .btn {
    background-color: var(--btn);
    box-shadow: 0px 5px hsl(290, 70%, 36%);
}

.third-theme .reset,
.third-theme .del,
.third-theme .equals {
    color: var(--screen2);
}

.third-theme .reset,
.third-theme .del {
    background-color: var(--reset3);
    color: var(--white);
    box-shadow: 0px 5px hsl(285, 91%, 52%);
}

.third-theme .equals {
    background-color: var(--togglebtn3);
    color: var(--equalstext);
    box-shadow: 0px 5px hsl(177, 92%, 70%);
}

.third-theme .btn_container {
    background-color: var(--toggle3);
}

.third-theme .display {
    background-color: var(--toggle3);
}

.third-theme .nums {
    color: var(--text);
}

.third-theme .toggle {
    background-color: var(--toggle3);
}